//
//  PROD.xcconfig

//
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT = PROD
APP_NAME = Weather
APP_BUNDLE_ID = com.assignment.weather
APP_VERSION = 1.0

//

//-- Endpoint
API_ENDPOINT_URL = https:/$()/weatherkit.apple.com
